@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&family=Squada+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2890D;
}

fieldset{
    margin: 50px 200px;
    padding: 0px;
    border-radius: 25px;
    background-color:#fff;
    border: none;
}

legend{
    font-family: 'Squada One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 74px;
    text-align: center;
    background-color: #1180E6;
    padding: 15px 30px;
    border-radius: 20px;
}

img {
    width: 150px;
    padding: 0 15%;
}

label{
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: block;
    padding-top: 10px;
}

input, select{
    width: 250px;
    height: 25px;
    left: 257px;
    top: 525px;
    border: 3px solid #B0A3A3;
    border-radius: 5px;
    text-align: center;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    width: 300px;
    /* margin: 0 25%;
    flex-wrap: wrap; */
}

p#resultado{
    margin-top: 0;
}


div#form {
    padding: 30px 0px 30px 15px;
}

hr{
    border: 1px solid #B0A3A3;
    transform: rotate(90deg);
    width: 50px;
}


button{
    margin-top: 45px;
    color: white;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 150px;
    height: 30px;
    left: 868px;
    top: 618px;
    border: 3px solid #000000;
    border-radius: 20px;
    margin: 25px 15%;
}

.botao1{
    background: #1180E6;
}

.botao2{
    background: #F2890D;
    margin-bottom: 15px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


@media (min-width: 935px){
    .line {
        position: absolute;
        left: 49%;
        top: 200px;
        bottom: 150px;
        width: 4px;
        background: #B0A3A3;
        z-index: 1;
    }
}


@media (min-width: 375px){
    fieldset {
        margin: 50px 10%;
        padding: 0px 0px;
        border-radius: 25px;
        background-color: #fff;
        border: none;
    }

    div#form {
        padding: 30px 15px;
    }

    p#introducao{
        padding: 0px;
    }
}